{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 Electron versions"
          ]
        }
      }
    ],
    "react",
    "flow",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    "react-flow-props-to-prop-types",
    "transform-regenerator",
    "transform-runtime",
    "transform-async-to-generator"
  ]
}