@import "variables";
@import "layout";
@import "forms";
@import "login";
@import "loading";
@import "card";
@import "react-table";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
}