.ReactTable .rt-thead.-header {
  box-shadow: none;
}

.ReactTable .-pagination {
  border-top: 0;
  box-shadow: none;
}

.ReactTable {
  border: 0;
}

.ReactTable .rt-thead .rt-tr {
 text-align: left;
  color: #757575;
  font-weight: 100;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: none;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 0;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  border-right: 0;
}

.ReactTable .rt-thead .rt-th:focus,
.ReactTable .rt-thead .rt-td:focus {
  border: 0;
  outline: none;
}


.ReactTable .-pagination .-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.ReactTable .-pagination .-previous, .ReactTable .-pagination .-next {
  display: flex;
  justify-content: center;
}

.ReactTable .-pagination .-pageJump input {
  width: 35px;
  border: 0px;
  text-align: center;
  font-weight: 300;
}

.ReactTable .-pagination .-pageInfo {
  font-weight: 300;
  font-size: 15px;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  font-weight: 300;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -1px 0 0 rgba(76, 76, 76, 0.6);
}