// SIZES

$nav-width: 250px;
$header-height: 75px;


// COLORS

$nav-bg: #1976D2;
$header-border-color: #d8d8d8;
$error-color: #ff4b33;

// MIXINS

@mixin reset() {
  border: none;
  margin: 0;
  padding: 0;
}