// SIZES

$nav-width: 250px;
$header-height: 75px;


// COLORS

$nav-bg               : #0288D1;
$card-header-bg       : #03A9F4;
$header-border-color  : #d8d8d8;
$error-color          : #ff4b33;
$background-color     : #f5f5f5;

$width-loading        : 50px;
$one-loading          : #BDBDBD;
$two-loading          : #757575;
$three-loading        : #607D8B;
$four-loading         : #0288D1;
$white-loading        : #eee;

$silver-input         : #bdc3c7;
$concrete-input       : #95a5a6;
$river-input          : #3498db;
$asbestos-input       : #7f8c8d;

// MIXINS

@mixin reset() {
  border: none;
  margin: 0;
  padding: 0;
}


// KEY FRAMES

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}

@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@keyframes color{
  100%, 0%{
    stroke: $one-loading;
  }
  40%{
    stroke: $two-loading;
  }
  66%{
    stroke: $three-loading;
  }
  80%, 90%{
    stroke: $four-loading;
  }
}
